{% load static %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
<body class="bg-dark">
<div class="bg-dark m-0 p-0">
    <h2 class="text-center text-white border-bottom p-2"><small>{{msg}}</small></h2>
    <form action="" class="m-0 p-0" method="post">
        {% csrf_token %}
        <input type="text" class="form-control col-10" name="site" placeholder="www.example.com" required>
        <div class="d-grid gap-2">
            <button class="btn btn-success btn-lg btn-block" type="submit">Search</button>
        </div>
    </form>
</div>

{% if img_total %}
<div class="d-grid gap-2 p-0 m-0">
    <a class="btn btn-primary btn-lg btn-block" href="{{tudo}}" download>Download All</a>
</div>
{% endif %}

<p class="text-center text-white m-0 p-2">{{site_status}}</p>

<div class="container-fluid row bg-dark m-0 p-3">
    {% for x, y in img_total %}
    {% if x %}
    <div class="card mb-2 mt-2 col-md-2 p-2 hov img-back  bg-dark">
        <a href="{{ x }}" class="text-white" target="_blank" style="text-decoration: none">
            <div class="embed-responsive embed-responsive-4by3" >
                <img class="card-img-top embed-responsive-item imagens_down" src="{{ x }}" style="object-fit:cover"/>
            </div>
            <div class="card-block d-grid gap-2">
                <a class="btn btn-primary text-white btn-lg" href="{{y}}" download>Get Image</a>
            </div>
        </a>
    </div>
    {% endif %}
    {% endfor %}
</div>

<style>
    .hov:hover{transition:.3s;transform:scale(1.03);opacity:90%}
    @media only screen and (max-width: 740px) {
        .imagens_down {
            height: 250px;
        }
    }

    @media only screen and (min-width: 740px) {
        .imagens_down {
            height: 120px;
        }
    }
</style>

</body>
