{% load static %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <link rel="apple-touch-icon" sizes="57x57" href="/static/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/static/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png">
    <link rel="manifest" href="/static/icons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/static/icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>Image Downloader</title>
</head>

<body class="bg-dark">
<div class="container-fluid m-0 p-0">
    <p class="text-center text-white msg p-3 m-0"><strong>{{msg}}</strong></p>
</div>


<div class="bg-dark m-0 p-0 text-white">
    <form action="" class="m-0 p-0" method="post" onsubmit="desativa()">
        {% csrf_token %}
        <input type="text" class="form-control" name="site" placeholder="www.example.com" required>
        <div class="row m-0 p-0 mt-2 mb-2">
            <button class="desativando btn btn-outline-success col-6 p-2" type="submit">Search</button>
            {% if img_total %}
            <a class="btn btn-outline-primary col-6 p-2" href="{{tudo}}" download>Download All</a>
            {% endif %}
        </div>
    </form>
    <p class="carregando text-center text-white p-1" style="display:none">Carregando imagens...</p>
    <h5>Teste Urls</h5>
    <p>https://mangayabu.top/ler/one-punch-man-capitulo-15-my1477/ </p>
    <p>https://colorlib.com/wp/free-bootstrap-gallery-templates/</p>
    <p>https://editorajbc.com.br/secao/blog/</p>

</div>


<div class="container-fluid m-0 p-0">
    <div class="row m-0 p-0 imagens-row">
        {% for x, y in img_total %}
        <div class="col-md-3 m-0 p-1">
            <div class="hover hover-3 text-white rounded"><img src="{{x}}" alt="">
                <div class="hover-overlay"></div>
                <div class="hover-3-content px-5 py-4">
                    <a class="thumbnail m-0 p-0 text-white" style="text-decoration:none" href="#" data-image-id="" data-toggle="modal" data-image="{{x}}"
                       data-target="#image-gallery">
                        <button class="hover-3-description btn btn-outline-success" style="width:150px">See</button>
                    </a>
                    <a class="hover-3-description btn btn-outline-primary" style="width:150px" href="{{y}}" download>Download</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content bg-dark">
            <div class="modal-header m-0 p-2" style="border:none">
                <h4 class="modal-title" id="image-gallery-title"></h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span>
                </button>
            </div>
            <div class="modal-body p-0 m-0" style="min-height:80vh;">
                <img id="image-gallery-image" class="img-responsive col-md-12" src="">
            </div>
            <div class="modal-footer row m-0 p-2" style="border:none">
                <div class="col-6 m-0 p-0">
                    <button type="button" class="m-0 p-2 btn btn-outline-secondary" style="width:200px" id="show-previous-image">
                        <i class="bi bi-arrow-left-circle-fill"></i>
                    </button>
                </div>

                <div class="col-6 m-0 p-0">
                    <button type="button" class="m-0 p-2 btn btn-outline-secondary float-right" style="width:200px" id="show-next-image">
                        <i class="bi bi-arrow-right-circle-fill"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
function desativa() {
    $('.desativando').prop("disabled", true);
    $('.carregando').css({'display':'block'})
}

let modalId = $('#image-gallery');

$(document)
  .ready(function () {

    loadGallery(true, 'a.thumbnail');

    //This function disables buttons when needed
    function disableButtons(counter_max, counter_current) {
      $('#show-previous-image, #show-next-image')
        .show();
      if (counter_max === counter_current) {
        $('#show-next-image')
          .hide();
      } else if (counter_current === 1) {
        $('#show-previous-image')
          .hide();
      }
    }

    /**
     *
     * @param setIDs        Sets IDs when DOM is loaded. If using a PHP counter, set to false.
     * @param setClickAttr  Sets the attribute for the click handler.
     */

    function loadGallery(setIDs, setClickAttr) {
      let current_image,
        selector,
        counter = 0;

      $('#show-next-image, #show-previous-image')
        .click(function () {
          if ($(this)
            .attr('id') === 'show-previous-image') {
            current_image--;
          } else {
            current_image++;
          }

          selector = $('[data-image-id="' + current_image + '"]');
          updateGallery(selector);
        });

      function updateGallery(selector) {
        let $sel = selector;
        current_image = $sel.data('image-id');
        $('#image-gallery-title')
          .text($sel.data('title'));
        $('#image-gallery-image')
          .attr('src', $sel.data('image'));
        disableButtons(counter, $sel.data('image-id'));
      }

      if (setIDs == true) {
        $('[data-image-id]')
          .each(function () {
            counter++;
            $(this)
              .attr('data-image-id', counter);
          });
      }
      $(setClickAttr)
        .on('click', function () {
          updateGallery($(this));
        });
    }
  });

// build key actions
$(document)
  .keydown(function (e) {
    switch (e.which) {
      case 37: // left
        if ((modalId.data('bs.modal') || {})._isShown && $('#show-previous-image').is(":visible")) {
          $('#show-previous-image')
            .click();
        }
        break;

      case 39: // right
        if ((modalId.data('bs.modal') || {})._isShown && $('#show-next-image').is(":visible")) {
          $('#show-next-image')
            .click();
        }
        break;

      default:
        return; // exit this handler for other keys
    }
    e.preventDefault(); // prevent the default action (scroll / move caret)
  });

</script>

</body>
